#eagle {
width: 200px;
margin-bottom: -45px; 
}
.jumbotron {
text-align: center; 
color: white; 
background: blue; 
}
h1 {
color: black; 
}
h2 {
color: red; 
}
.questions {
margin-left: 100px; 
}
button {
text-align: center; 
}
ul {
list-style-type: none; 
}
#slogan {
color: black;  
}
#link {
color: black; 
}
canvas {
display: block;
position: fixed;  
}
#resultJumob {
background: white;
position: relative; 
z-index: -1;
margin-top: -50px;   
}
#resultName {
color: white;
background: blue; 
border-radius: 10px;
padding-top: 5px; 
padding-bottom: 5px;  
}
#linkButton {
position: fixed; 
z-index: 4; 
}
